<div class="card-body">
    <form action="/welcome" method="POST">
        <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type='submit' class="btn btn-primary btn-block">
            Sign In 
        </button>
    </form>
</div>